server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bingodb
    username: postgres
    password: Z-18mrDE # ← ご自身のPostgreSQLのパスワードに合わせてここを書き換えてください
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
